// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  //background-color: #368bff;
  //color: #ffffff;
}
.pull-right {
  float: right;
}
.contact:hover {
  cursor: pointer;
}
ion-menu {
  margin-top: 55px;
}

ion-menu ion-header ion-toolbar ion-icon {
  //display: none;
  //height: 1px;
  padding-left: 20px;
}

ion-navbar img {
  height: 40px;
  margin-left: 20px;
}
ion-menu ion-toolbar img {
  //display: none;
}

$colors: (
  primary: #DC4437,
  secondary: #36ACE2,
  danger: #f53d3d,
  light: #FFFFFF,
  dark: #222,
  favorite: #69BB7B,
  facebook: #3B5999,
  googleplus: #DD4C39,
  bgColor: #EBEBEC,
  gray: #999,
  orange: #F44336
);
 
$list-background-color: #fff;
$list-ios-activated-background-color: #3aff74;
$list-md-activated-background-color: #3aff74;
 
$checkbox-ios-background-color-on: #32db64;
$checkbox-ios-icon-border-color-on: #fff;
 
$checkbox-md-icon-background-color-on: #32db64;
$checkbox-md-icon-background-color-off: #fff;
$checkbox-md-icon-border-color-off: #cecece;
$checkbox-md-icon-border-color-on: #32db64;
