page-imaps {

}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}


#tapbox  { 
    text-align: center;
    width: 110px; height: 40px; 
    background-color: blue; 
    color: white; 
    position: absolute; 
    top:41%; 
    left:50%;
    z-index: 100;
    margin-left: -56px;
}

.tapbox-text{ 
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid blue;
    margin-top: 30px;
    margin-left: 46px;
    z-index: 90;
}